<!-- <p><u>http services :</u></p>
<app-posts></app-posts> -->
<p><u>contact form :</u></p>
<contact-form></contact-form>
<p><u>ngFor :</u></p>
<input type="text" #crs name="crs" />
<button (click)="onAdd(crs.value); crs.value = ''">add</button>
<ul>
  <li *ngFor="let course of coursesData">
    {{ course.name }} <button (click)="onRemove(course)">remove</button
    ><button (click)="onUpdate(course)">update</button>
  </li>
</ul>
<p><u>ngSwitch :</u></p>
<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'">
    <a (click)="viewMode = 'map'">Map View</a>
  </li>
  <li [class.active]="viewMode == 'list'">
    <a (click)="viewMode = 'list'">List View</a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
<p><u>ngif :</u></p>
<div *ngIf="courses.length > 0; then coursesList; else noCousesYet"></div>
<ng-template #coursesList>
  List of courses:
</ng-template>
<ng-template #noCousesYet>
  No Courses Yet
</ng-template>
<div [hidden]="courses.length == 0">not empty</div>
<div [hidden]="courses.length > 0">empty list</div>
<p><u>ngContainer :</u></p>
<bootstrap-panel>
  <ng-container class="heading">Heading</ng-container>
  <ng-container class="body">
    <h2>Body</h2>
    <p>Some content here ...</p>
  </ng-container>
</bootstrap-panel>

<p><u>pass data and event to component :</u></p>

<favorite
  [isFavorite]="post.isFavorite"
  (change)="isFavoriteChanged($event)"
></favorite>

<p><u>courses and authors - service component:</u></p>

<courses></courses>
<app-authors></app-authors>

<p><u>attribute binging :</u></p>

<table>
  <tr>
    <td [attr.colspan]="colspan">
      test
    </td>
  </tr>
</table>
